@import "@/ui/assets/styles/abstracts";

:root {
  --surface: #fff;
  --onSurface: #333;
  --background: #f6f8fa;
}

body {
  color: var(--onSurface);
  font-family: Roboto, Segoe UI, BlinkMacSystemFont, system-ui,
    -apple-system sans-serif;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
}
