<script setup lang="ts">
import { computed, onMounted } from "vue";

const props = withDefaults(
  defineProps<{
    page: number;
    totalPages: number;
    docsPerPage: number;
  }>(),
  {
    page: 1,
    totalPages: 0,
    docsPerPage: 0,
  }
);

const emit = defineEmits<{
  (e: "goToPage", page: number, withAllIds?: boolean): void;
  (e: "update:docsPerPage", docsPerPage: number): void;
}>();

const isPrevDisabled = computed(() => props.page === 1);
const isNextDisabled = computed(() => props.page === props.totalPages);
const docsPerPageModel = computed({
  get() {
    return props.docsPerPage;
  },
  set(value): void {
    emit("update:docsPerPage", value);
    emit("goToPage", 1);
  },
});

const pageModel = computed({
  get() {
    return props.page;
  },
  set(value): void {
    if (value < 1 || value > props.totalPages) return;

    emit("goToPage", value);
  },
});

onMounted(() => {
  emit("goToPage", 1, true);
});
</script>

<template>
  <button :disabled="isPrevDisabled" @click="emit('goToPage', page - 1)">
    prev
  </button>
  <label
    ><input type="number" v-model.lazy="pageModel" />
    of
    {{ totalPages }}
  </label>
  <button :disabled="isNextDisabled" @click="emit('goToPage', page + 1)">
    next
  </button>

  Documents per page
  <select v-model.lazy.number="docsPerPageModel">
    <option v-for="option in [50, 100, 250]" :key="option">{{ option }}</option>
  </select>
</template>
