<script setup lang="ts">
import { DefaultLayout } from "@/ui/layouts";
import { Dashboard } from "@/ui/views";
</script>

<template>
  <default-layout>
    <dashboard />
  </default-layout>
</template>

<style></style>
