<script setup lang="ts">
import { computed } from "vue";

import { useDataTableStore } from "@/store";
import { DataTable, Pagination } from "@/ui/components";

const store = useDataTableStore();

const filterModel = computed({
  get() {
    return store.filter;
  },
  set(value) {
    store.filterBy(value);
  },
});

const isGroupedModel = computed({
  get(): boolean {
    return !!store.groupBy;
  },
  set(value: boolean): void {
    store.groupBy = value ? "type" : "";
  },
});
</script>

<template>
  <header :class="$style.header">
    <h1>Datatable</h1>
    <div :class="$style.actions">
      <input type="text" v-model="filterModel" placeholder="Filter..." />
      <label><input type="checkbox" v-model="isGroupedModel" /> grouped</label>
    </div>
  </header>

  <main :class="$style.main">
    <data-table
      :class="$style.cover"
      :columns="store.columns"
      :rows="store.rows"
      :status="store.status"
    />
  </main>

  <footer>
    <pagination
      :page="store.page"
      :total-pages="store.totalPages"
      v-model:docs-per-page="store.pageSize"
      @go-to-page="store.getDocuments"
    />
  </footer>
</template>

<style lang="scss" module>
@import "@/ui/assets/styles/abstracts";

.header {
  display: flex;
  justify-content: space-between;
}

.actions {
  @include flex-center-vert;
  gap: 8px;
}

.main {
  flex: 1;
  position: relative;
  background-color: var(--surface);
}

.cover {
  @include cover;
}
</style>
