<script setup lang="ts">
import { inject } from "vue";
import { DataTableKey } from "../context";

const { columns, rows, gridTemplateColumns } = inject(DataTableKey);
</script>

<template>
  <template v-for="row of rows" :key="row.id">
    <component v-if="row.component" :is="row.component" :group="row" />
    <div v-else :class="$style.grid">
      <template v-for="{ key, cell } in columns" :key="key">
        <component v-if="cell" :is="cell.component" :row="row" />
        <div v-else :class="$style.cell">{{ row[key] }}</div>
      </template>
    </div>
  </template>
</template>

<style lang="scss" module>
@import "@/ui/assets/styles/abstracts";
.grid {
  display: grid;
  grid-template-columns: v-bind("gridTemplateColumns");
}

.cell {
  @include trim;
}
</style>
