<script setup lang="ts">
import { inject, computed } from "vue";
import { DataTableKey } from "../context";

const { status } = inject(DataTableKey);
const isLoading = computed(() => status === "loading");
</script>

<template>
  <div v-show="isLoading" :class="$style.loader">loading...</div>
</template>

<style lang="scss" module>
$offset: 32px;

.loader {
  position: absolute;
  bottom: $offset;
  right: $offset;

  background-color: var(--surface);
  padding: 8px;
}
</style>
