<script setup lang="ts">
import { computed } from "vue";

import { DataTableRow } from "@/ui/components";
import { useDataTableStore } from "@/store";

const store = useDataTableStore();
const props = defineProps<{ row: DataTableRow }>();

const checkedModel = computed({
  get(): boolean {
    console.log('rendered')
    return store.allRows[props.row.id].selected;
  },
  set(value: boolean): void {
    store.selectRow(props.row.id, value);
  },
});
</script>

<template>
  <label :class="$style.wrapper">
    <input type="checkbox" v-model="checkedModel" />
  </label>
</template>

<style lang="scss" module>
@import "@/ui/assets/styles/abstracts";

.wrapper {
  @include flex-center;
  position: sticky;
  left: 0;

  background-color: var(--surface);
}
</style>
