<script setup lang="ts">
import { computed } from "vue";

import { DataTableRow } from "@/ui/components";
import { useDataTableStore } from "@/store";

const store = useDataTableStore();
const props = defineProps<{ group: DataTableRow }>();

const groupRows = computed(() => store.groups[props.group.groupName].rows);
const state = computed(() => {
  const { allRows } = store;
  const checkedCount = groupRows.value.filter(
    (id) => allRows[id].selected
  ).length;
  const checked = checkedCount > 0;

  return {
    checked,
    indeterminate: checked && checkedCount < groupRows.value.length,
  };
});

function onChange({ target: { checked } }: any) {
  store.selectGroup(props.group.groupName, checked);
}
</script>

<template>
  <label>
    <input
      type="checkbox"
      :checked="state.checked"
      :indeterminate.prop="state.indeterminate"
      @change="onChange"
    />
  </label>
  {{ group.groupName }} ({{ group.count }})
</template>

<style lang="scss" module></style>
