@mixin trim($numLines: 1) {
  text-overflow: ellipsis;
  overflow: hidden;

  @if $numLines > 1 {
    @supports (-webkit-line-clamp: $numLines) {
      display: -webkit-box;
      -webkit-line-clamp: $numLines;
      -webkit-box-orient: vertical;
    }
  } @else {
    white-space: nowrap;
  }
}
