<script setup lang="ts">
import { provide, readonly, toRefs, computed } from "vue";

import {
  DataTableEmpty,
  DataTableLoader,
  DataTableRows,
} from "./sub-components";
import { DataTableKey } from "./context";
import { DataTableColumn, DataTableRow, DatatableStatus } from "./types";

const props = defineProps<{
  columns: DataTableColumn[];
  rows: DataTableRow[];
  status?: DatatableStatus;
}>();

const gridTemplateColumns = computed(() =>
  props.columns.map(({ config: { width } }) => `${width}px`).join(" ")
);

provide(DataTableKey, { ...toRefs(readonly(props)), gridTemplateColumns });
</script>

<template>
  <div :class="$style.container">
    <div :class="$style.wrapper">
      <data-table-rows />
    </div>

    <data-table-empty v-if="status === 'empty'">
      <slot name="custom-empty-template" />
    </data-table-empty>

    <data-table-loader />
  </div>
</template>

<style lang="scss" module>
.container {
  display: flex;
}

.wrapper {
  flex: 1;
  overflow: auto;
}
</style>
